USE [DB_FoodOrdering_Balase_IT13]
GO
/****** Object:  User [FoodOrderingAppUser]    Script Date: 15/11/2025 10:05:35 pm ******/
CREATE USER [FoodOrderingAppUser] FOR LOGIN [FoodOrderingAppUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [FoodOrderingAppUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [FoodOrderingAppUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [FoodOrderingAppUser]
GO
/****** Object:  Table [dbo].[FoodCategories]    Script Date: 15/11/2025 10:05:35 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItems]    Script Date: 15/11/2025 10:05:35 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItems](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[CategoryID] [int] NULL,
	[IsAvailable] [bit] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/11/2025 10:05:35 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 15/11/2025 10:05:35 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodCategories] ON 

INSERT [dbo].[FoodCategories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Appetizers', N'Delicious starters to begin your meal')
INSERT [dbo].[FoodCategories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Main Course', N'Hearty and satisfying main dishes')
INSERT [dbo].[FoodCategories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Desserts', N'Sweet treats to end your meal')
SET IDENTITY_INSERT [dbo].[FoodCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodItems] ON 

INSERT [dbo].[FoodItems] ([FoodID], [FoodName], [Description], [Price], [CategoryID], [IsAvailable], [ImagePath]) VALUES (2, N'Caesar Salad', N'Fresh romaine lettuce with Caesar dressing', CAST(5.99 AS Decimal(10, 2)), 1, 1, NULL)
INSERT [dbo].[FoodItems] ([FoodID], [FoodName], [Description], [Price], [CategoryID], [IsAvailable], [ImagePath]) VALUES (3, N'Spaghetti Carbonara', N'Classic pasta with creamy sauce and bacon', CAST(12.99 AS Decimal(10, 2)), 2, 1, NULL)
INSERT [dbo].[FoodItems] ([FoodID], [FoodName], [Description], [Price], [CategoryID], [IsAvailable], [ImagePath]) VALUES (4, N'Grilled Salmon', N'Fresh salmon with lemon butter sauce', CAST(18.99 AS Decimal(10, 2)), 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[FoodItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 1, 4, 3, CAST(18.99 AS Decimal(10, 2)), CAST(56.97 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, 1, 6, 4, CAST(2.99 AS Decimal(10, 2)), CAST(11.96 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [FoodID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (3, 2, 8, 1, CAST(3.99 AS Decimal(10, 2)), CAST(3.99 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [CustomerName], [TotalAmount], [Status], [Notes]) VALUES (1, CAST(N'2025-11-15T20:47:42.103' AS DateTime), N'Rods', CAST(68.93 AS Decimal(10, 2)), N'Completed', N'')
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [CustomerName], [TotalAmount], [Status], [Notes]) VALUES (2, CAST(N'2025-11-15T21:34:20.320' AS DateTime), N'Hazel', CAST(3.99 AS Decimal(10, 2)), N'Cancelled', N'Hatdog flavor')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[FoodItems]  WITH CHECK ADD  CONSTRAINT [FK_FoodItems_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[FoodCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[FoodItems] CHECK CONSTRAINT [FK_FoodItems_Categories]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_FoodItems] FOREIGN KEY([FoodID])
REFERENCES [dbo].[FoodItems] ([FoodID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_FoodItems]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFoodItem]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Add new food item
CREATE   PROCEDURE [dbo].[sp_AddFoodItem]
    @FoodName nvarchar(100),
    @Description nvarchar(255) = NULL,
    @Price decimal(10, 2),
    @CategoryID int = NULL
AS
BEGIN
    INSERT INTO FoodItems (FoodName, Description, Price, CategoryID)
    VALUES (@FoodName, @Description, @Price, @CategoryID)
    
    RETURN SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFoodItem]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete food item
CREATE   PROCEDURE [dbo].[sp_DeleteFoodItem]
    @FoodID int
AS
BEGIN
    DELETE FROM FoodItems
    WHERE FoodID = @FoodID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAllCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CategoryID,
        CategoryName,
        Description
    FROM dbo.FoodCategories
    ORDER BY CategoryName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFoodItems]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetAllFoodItems: add CategoryID column
CREATE   PROCEDURE [dbo].[sp_GetAllFoodItems]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        f.FoodID,
        f.FoodName,
        f.[Description],
        f.Price,
        f.IsAvailable,
        f.CategoryID,      -- <-- added
        c.CategoryName
    FROM dbo.FoodItems f
    LEFT JOIN dbo.FoodCategories c
        ON f.CategoryID = c.CategoryID
    ORDER BY f.FoodName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchFoodItems]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_SearchFoodItems: also return CategoryID
CREATE   PROCEDURE [dbo].[sp_SearchFoodItems]
    @SearchTerm nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        f.FoodID,
        f.FoodName,
        f.[Description],
        f.Price,
        f.IsAvailable,
        f.CategoryID,      -- <-- added
        c.CategoryName
    FROM dbo.FoodItems f
    LEFT JOIN dbo.FoodCategories c
        ON f.CategoryID = c.CategoryID
    WHERE f.FoodName      LIKE '%' + @SearchTerm + '%'
       OR f.[Description] LIKE '%' + @SearchTerm + '%'
       OR c.CategoryName  LIKE '%' + @SearchTerm + '%'
    ORDER BY f.FoodName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFoodItem]    Script Date: 15/11/2025 10:05:36 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update food item
CREATE   PROCEDURE [dbo].[sp_UpdateFoodItem]
    @FoodID int,
    @FoodName nvarchar(100),
    @Description nvarchar(255) = NULL,
    @Price decimal(10, 2),
    @CategoryID int = NULL,
    @IsAvailable bit = 1
AS
BEGIN
    UPDATE FoodItems
    SET 
        FoodName = @FoodName,
        Description = @Description,
        Price = @Price,
        CategoryID = @CategoryID,
        IsAvailable = @IsAvailable
    WHERE FoodID = @FoodID
END
GO
